@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: rgb(63, 69, 68);
}


/* heading and logo*/


h1, h2 {
    font-family: Archivo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:rgb(81, 91, 143);
}


#logo {
    text-align: center;
    font-size: 250%;
}


#fish-logo {
    display: block;
    text-align: center;
    margin-block: 30px 0px;
}


a {
    text-decoration: none;
}


/* navigation links */


#menubar {
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}


#menubar a {
    color: #0D324D;
    font-family: Archivo, sans-serif;
    padding: 20px;
}

#menubar a:hover {
    background-image: linear-gradient(to left top, #0D324D, #7F5A83);
    color: #fff;
    border-radius: 20px;
    transition: 0.7s;
    padding: 15px;
}

/* hero image */

#hero-image {
    width: 1600px;
    height: 700px;
    background-image: url(../images/fish-tank1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;

}

#cover-text {
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 30%;
    background-color: rgb(81, 91, 143, 0.7);
    padding: 30px;
    border-radius: 20px;
}

#cover-text h2 {
    text-transform: capitalize;
    color: white;
    font-size: 200%;

}
